body
{
  background-color: oldlace;
}

h1 
{
  text-align: justify;
  text-color: maroon;
  font-family: Times New Roman; 
  font-size: 32px;
  font-style: normal;
  border-style: inset;
  border-color: crimson;
}

p
{
  text-align: justify;
  text-color: saddlebrown;
  text-indent: 50px;
  font-family: Arial;
  font-size: 21px;
  font-style: normal;
  border-style: outset;
  border-color: sienna;
}

  